<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.scau.hjr.dao.PermissionMapper" >
  <resultMap id="BaseResultMap" type="cn.scau.hjr.model.Permission" >
    <id column="permission_id" property="permissionId" jdbcType="INTEGER" />
    <result column="permission" property="permission" jdbcType="VARCHAR" />
    <result column="url" property="url" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    permission_id, permission
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from permission
    where permission_id = #{permissionId,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from permission
    where permission_id = #{permissionId,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="cn.scau.hjr.model.Permission" >
    <selectKey keyProperty="permissionId" order="AFTER" resultType="java.lang.Integer">
      select last_insert_id()
    </selectKey>
    insert into permission ( permission,url)
    values (#{permission,jdbcType=VARCHAR},#{url,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="cn.scau.hjr.model.Permission" >
    insert into permission
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="permissionId != null" >
        permission_id,
      </if>
      <if test="permission != null" >
        permission,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="permissionId != null" >
        #{permissionId,jdbcType=INTEGER},
      </if>
      <if test="permission != null" >
        #{permission,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>

  <update id="updateByPrimaryKey" parameterType="cn.scau.hjr.model.Permission" >
    update permission
    set permission = #{permission,jdbcType=VARCHAR},
    url = #{url,jdbcType=VARCHAR}
    where permission_id = #{permissionId,jdbcType=INTEGER}
  </update>

  <!-- selectByPermissionName -->
  <select id="selectByPermissionName" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select
    <include refid="Base_Column_List" />
    from permission
    where permission = #{permission,jdbcType=VARCHAR}
  </select>
  <!--delByPermissionName -->
  <delete id="delByPermissionName" parameterType="java.lang.String" >
    delete from permission
    where permission = #{permission,jdbcType=VARCHAR}
  </delete>

  <!-- getAllPermission  -->
  <select id="getAllPermission" resultMap="BaseResultMap" >
    select * from permission order by permission_id DESC
  </select>


  <!-- getAllPermission  -->
  <select id="getAllPermissionLimit" resultMap="BaseResultMap" >
    select * from permission order by permission_id DESC limit #{0},#{1}
  </select>

  <!--getPermissionNumber  -->
  <select id="getPermissionNumber" resultType="java.lang.Integer" >
    select count(*) from permission
  </select>

</mapper>